body{
  font-family: 'Open Sans', sans-serif;
  width:100%; 
  text-align:center;
  margin: 20px 0px 20px 0px;   
}



.main{
  justify-content: center;
  margin-top: 150px;
}


h6{
  color: #9fafc1;
  line-height: 12pt;
}

.pading{
  padding-top: 10px;
  margin-top: 5px;
}

.box{
  
  justify-content: center;
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  margin-top: 50px;
}

a, label{ text-decoration: none; 
margin-top: 60px;
padding-top: 50px;
color: #9fafc1;
line-height: 20pt;
}
.btn2{
  background:#2c3641;
  justify-content: center;
  width: 180px;

  margin: 0 auto 0 auto;
  color: rgb(255, 255, 255);
  margin-top: 2px;
  font-size: 12px;

}

.box1{
  background:#9fafc1;
  justify-content: center;
  width: 270px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  color: black;
  margin-top: 2px;
}

.box2{
  background:#29323d;
  justify-content: center;
  width: 270px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  color: white;
  margin-top: 50px;
}

.carnet{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}
body {
  margin: 0;
  padding: 0;
 
}

.nav ul {
  border: 0.5px solid black;
  border-radius:0.5px;
  background-color: #a2aec2;
  padding: 0px;
  margin: 0;
  height: 50px;
  padding-top: 10px;
  
}

 
.nav a {
  color: #fff;
  height: 20px;
  width: 300px;
  padding: 15%;
  
  
}
 
.nav a:hover {
  background-color:rgb(255, 255, 255);
  color: #29323d;
}
 

 
@media screen and (min-width: 600px) {
  .nav li {
    width: 16.41%;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;

  }
 
}

table {

 
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

th, td {
  padding: 20px;
}

.padding{
  padding: 20px;
}

.down{
 padding-top: 30%;
}